@use "./base.scss";

// Custom styling for site title (script font)
.page-title {
  font-family: var(--titleFont) !important;
  font-size: 2.8rem !important;
  font-weight: 400;
  letter-spacing: 0.01em;
  white-space: nowrap;
}
